body {
    font-family: serif;
    margin: 0;
    padding: 2rem;
    transition: background 0.3s, color 0.3s;
}
body.dark{
    background-color: #55a3cd;
    
}
header, main{
    max-width: 700px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}
#fontSelector{
    border: 1px solid #ccc;
    border-radius: 8px;
    
}
input,select,button{
    padding: 0.4em;
    font-size: 0.9rem;
}

button{
    cursor: pointer;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left:0;
}
.switch input{
    display: none;
}
.slider{
    position: absolute;
    top:0; left:0;
    right:0; bottom:0;
    background-color: #ccc;
    border-radius: 25px;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 18px;width: 18px;
    left: 4px; bottom: 3.2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider{
    background-color: rgb(77, 93, 77);
}
input:checked+.slider::before{
    transform:translateX(26px);
}
.pronounce{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
audio{
    outline: none;
}


.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.3rem 0.5rem;
    max-width: 400px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    background: transparent;
    font-size: 1rem;
}
.search-bar input:focus {
    background: transparent;
    outline: none;
}

.search-bar button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.3rem;
}

.search-bar button:active {
    transform: scale(0.95);
}

.search-bar img {
    width: 20px;
    height: 20px;
}



